.Rproj.user
.Rhistory
.RData

packrat/lib*/

# Exclude raw data but include processing scripts
data-raw/**/*
!data-raw/*

data/**/*
data/*
output-data/**/*
output-data/*
output-images/**/*
output-images/*
